
#quote{
    position: inline;
    padding-top: 80px;
}


.intro{
    margin-top: 50px;

    p{
    text-align: center;
    font-size: 1.9rem;
    margin-left: 15%;
    margin-right: 15%;
    }

    span{
    font-weight: bold;
    color: $secondarycolour;
    font-size: 2.4rem;
    }

    a{
    color: $secondarycolour;
    }
}

.section{
    margin-top: 30px;
}

.main_links{
    padding-top: 20px;
}

.pic {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;

h2{
    color: #fff;
    padding-top: 70px;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    font-family: $body-font;
    }
}

.text {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0;
    text-align: center;
    background: rgba(220, 20, 60, 0.8);
    transition: height 0.7s ease-out;
}

.pic:hover > .text {
    height: 205px;
}


.ind_sections{

    padding-top: 80px;
    padding-bottom: 30px;

    .section_heading{
        text-align: center;
        margin-top: 8   0px;
        width: 100%;
    }

    .icon_section{
        text-align: center;
        margin: 0 auto;
    }

    h2{
        text-align: center;
        font-size: 4.5rem;
        margin-bottom: 10px;
        padding-bottom: 6px;
        padding-left: 30%;
        padding-right: 30%;

    }

    h3{
        text-align: center;
        text-transform: uppercase;
        font-size: 2rem;
        color: $secondarycolour;
        margin: 40px 0px 10px 0px;
        line-height: 2.5rem;
        font-weight: 700;
    }

    p{
        color: $text-color;
        font-size: 1.8rem;
        line-height: 2.65rem;

    }

    a{
        color: $secondarycolour;
    }
}

