


    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {

        body{
            // background-color: orange;
        }

        .carousel-caption{
            display: none;
        }

        .intro{
            margin-top: 40px;

            p{
            font-size: 1.8rem;
            margin-left: 5%;
            margin-right: 5%;
            }
        }

        .row{

            span{
            font-size: 1.8rem;
            }

            p{
            font-size: 1.6rem;
            line-height: 2.2rem;
            }
        }


        .ind_sections{

            margin-top: 0px;
            padding-bottom: 30px;

            .section_heading{
                text-align: center;
                margin-top: 40px;
            }

            h2{
                font-size: 3.6rem;
                margin-bottom: 10px;
                padding-bottom: 6px;
                padding-left: 10%;
                padding-right: 10%;

            }

            h3{
                font-size: 1.8rem;
                color: $secondarycolour;
                margin: 30px 0px 10px 0px;
                line-height: 2.5rem;
                font-weight: 700;
            }

            p{
                color: $text-color;
                font-size: 1.6rem;
                line-height: 2.2rem;

            }
        }

        #footer{

            text-align: center;

        .bio{
            padding: 30px 10px;

            p{
            font-size: 1.7rem;
            line-height: 2.4rem;
            }
        }

        .social_icons{
            padding-left: 15%;
            padding-right: 15%;

        }
}


    }



    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {

        body{
            // background-color: yellow;
        }

        .intro{
            margin-top: 50px;

            p{
            text-align: center;
            font-size: 1.9rem;
            margin-left: 5%;
            margin-right: 5%;
            line-height: 2.4rem;
            }

            span{
            font-weight: bold;
            color: $secondarycolour;
            font-size: 2.4rem;
            padding-bottom: 20px;
            display: inline-block;
            line-height: 2.8rem;
            }
        }


        .ind_sections{
            margin-top: 10px;
        }

            .carousel-caption{
            display: block;
            h3{
                font-size: 1.7rem;
                line-height: 2rem;
            }

            p{
            font-size: 1.3rem;
            }
        }

            #footer{
            text-align: center;
        }



}



    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

        body{
            // background-color: lightblue;
        }

      .intro{
            margin-top: 30px;

            p{
            text-align: center;
            font-size: 1.7rem;
            line-height: 2.2rem;
            }
        }

        #main_links img{
            width: 100%;
        }

        .carousel-caption{
            display: block;
            h3{
                font-size: 2.2rem;
                line-height: 2.8rem;
            }

              p{
            font-size: 1.8rem;
            }
        }


        #footer{
            text-align: left;

            .bio{
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 15px;

             p{
            font-size: 1.7rem;
            line-height: 2.4rem;
                }

            }
      .social_icons{
            padding-left: 25%;
            padding-right: 25%;
        }
        }


}

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

        body{
            // background-color: pink;
        }

        .intro{
            margin-top: 50px;

            p{
            text-align: center;
            font-size: 1.9rem;
            margin-left: 15%;
            margin-right: 15%;
            line-height: 2.4rem;
            }
        }

        #footer{

            .bio{
                padding-top: 0px;
                padding-bottom: 00px;
                padding-left: 15px;
            }

      .social_icons{
            padding-left: 0%;
            padding-right: 0%;
        }
        }





}

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

                body{
            // background-color: grey;
        }

    }











@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

.navbar .navbar-collapse {
    text-align: center;
}

